<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Album detail</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body class="flex flex-col h-svh">

    <%- include("components/navBar") %>
        <div class="grid grid-cols-[150px,1fr] flex-grow overflow-hidden">
            <%- include("components/sideBar") %>
                <main class="flex flex-col p-4 bg-slate-50 overflow-y-auto">
                    <a href="/new/album-version/<%= album.id %>">Add new album version</a>
                    <article class="flex flex-col">
                        <img src="<%= album.imgUrl %>" alt=""
                            class="object-contain max-h-60  border-slate-200 border-solid border">
                        <p class="font-bold">
                            <%= album.artist %>
                        </p>
                        <p>
                            <%= album.title %>
                        </p>
                        <p class="font-bold text-lg">
                            USD <%= album.price %>
                        </p>
                    </article>
                    <section>
                        <h2>Tracklist</h2>

                        <% if (!album.trackList) { %>
                            <div class="flex flex-col justify-center items-center w-full py-32">
                                <p class="font-semibold text-slate-700">This album does not have any tracks</p>
                                <p class="text-sm text-slate-700"> Edit the album's tracklist to see its tracks</p>
                                <a href="/new/album">Edit album</a>
                            </div>
                            <% } else { %>

                                <ol class="list-decimal">

                                    <% album.trackList.forEach(track=> { %>
                                        <li>
                                            <%= track %>
                                        </li>
                                        <% }) %>
                                            </ul>
                                            <% } %>
                    </section>
                </main>
        </div>
</body>

</html>