<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artist detail | <%= artist.name %>
    </title>
    <link rel="stylesheet" href="/style.css">

</head>

<body class="flex flex-col h-svh">

    <%- include("components/navBar") %>
        <div class="grid grid-cols-[150px,1fr] flex-grow">
            <%- include("components/sideBar") %>
                <main class="flex flex-col p-4 bg-slate-50">
                    <% if (artist.coverImg) { %>
                        <img src="<%= artist.coverImg %>" alt="" class="h-72 w-full object-cover">
                        <% } else { %>
                            <section
                                class="h-72 w-full object-cover bg-slate-100 flex justify-center items-center relative">
                                <img src="<%= artist.imgUrl %>" alt="" class="size-28 rounded-full object-cover">
                                <h1 class="absolute bottom-2 left-2 text-2xl font-semibold">
                                    <%= artist.name %>
                                </h1>
                            </section>
                            <% } %>
                                <section class="flex">
                                    <h2>Ablums</h2>
                                    <% if (!albums.length>0 ) { %>
                                        <div class="flex flex-col justify-center items-center w-full py-32">
                                            <p class="font-semibold text-slate-700">This artist does not have any album
                                                registered</p>
                                            <p class="text-sm text-slate-700">Register some album to see them listed
                                                here</p>
                                            <a href="/new/album">Add album</a>
                                        </div>
                                        <% } else { %>

                                            <% albums.forEach(album=> { %>
                                                <p>
                                                    <%- include("albumComponent", {item: album}) %>
                                                </p>
                                                <% }) %>
                                                    <% } %>
                                </section>
                                <section
                                    class=" w-full object-cover bg-slate-100 grid grid-cols-3 relative p-10 gap-10">
                                    <div>
                                        <h3 class="text-lg">About</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni minima
                                            tenetur
                                            reprehenderit
                                            dolor suscipit cupiditate doloribus nihil quibusdam! In magni inventore nisi
                                            dolorem!
                                            Natus
                                            perferendis nobis ducimus atque. Quibusdam, ipsam!
                                        </p>
                                    </div>
                                    <div class="flex flex-col gap-8">
                                        <div>
                                            <h3 class="text-lg">Debute at</h3>
                                            <p>
                                                <%= artist.debutDate %>
                                            </p>
                                        </div>
                                        <div>
                                            <h3 class="text-lg">Company</h3>
                                            <p>
                                                <%= artist.company ? artist.company.name : "-" %>
                                            </p>
                                        </div>
                                    </div>
                                </section>
                </main>
        </div>
</body>

</html>